@media only screen and (max-width: 576px){
    .links{
        display: none !important;
    }

    .my-col{
        width: 100% !important;
    }
    
    .chat{
        position: fixed;
        bottom: 20px;
        right: 80px;
    }
}



@media only screen and (min-width: 576px){
    .links-2{
        display: none !important;
    }
}





@media only screen and (max-width: 995px){
    .colreverse{
        flex-direction: column-reverse;
    }
}