* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sour Gummy";
}

body {
    cursor: url(https://www.onyedika.xyz/static/media/arrowPoint.5b3f3b5c07736388f143.svg) 15 15, move;
    height: 100%;
    width: 100%;
}

.header {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(40, 37, 37) , rgb(13, 13, 11));
    backdrop-filter: blur(50px);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar Start */


.navbar {
    background-color: #10e956;
    height: 85px;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navbarlist {
    margin-top: 15px;
}


.navbarlist ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 1.2rem;
    margin-right: 1px;
}

.navbarlist ul a {
    text-decoration: none;
    color: black;
}

.navbar h3 {
    /* text-shadow: 5px 5px black; */
    /* text-shadow: 5px 5px 20px black; */
    margin-left: 1px;
}

.navbar h3:hover {
    color: white;
}

.navbarlist ul a:hover{
   color: white;
}


/* Navbar End */


/* header section 2 Start*/

.myrow {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}


/* Text h5 */

.typing {
    width: 473px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
    animation: typing 2s steps(12, end), cursor .2s steps(12, end) infinite;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

.mytext-uppercase {
    width: 260px;
    font-weight: bolder;
    color: #10e956;
    transition: all 3s;
}

.myspan {
    font-size: 2rem;
    color: #10e956;
    font-weight: bolder;
}

.myparagh {
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: bolder;
}

.mypicture {
    height: 280px;
    margin-left: 30px;
}

.secondimage {
    /* background-color: blue; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondimage img {
    height: 280px;
}



/* header section 2 End*/


/* Main Start section one*/

.tools {
    background-color: #050810;
    color: #14e956;
    height: 80vh;
    width: 100%;
    text-align: center;
    place-content: center;
}



.tools h1 {
    border: 2px solid #14e956;
    background-color: #12141d !important;
    padding: 10px;
    width: 200px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 5px 20px rgb(95, 141, 95);
    transition: all 1s;
}

.tools h1:hover {
    color: #14e956;
    transform: scale(1.2);
    box-shadow: 5px 5px 100px rgb(95, 141, 95);
}

.toolnames {
    background-color: #0c8c34;
    color: white;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.toolnames h2 {
    background-color: #12141d;
    border: 2px solid 7695FF;
    width: 220px;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 5px 5px 20px rgb(21, 22, 21);
    transition: all 1s;
}

.tools h2:hover {
    color: #14e956;
    transform: scale(1.2);
    box-shadow: 5px 5px 100px rgb(21, 22, 21);
}


/* Main Start section one*/


/* Main Start section two*/

.assignment {
    background-color: #050810;
    color: #14e956;
    height: 20vh;
    width: 100%;
    text-align: center;
    place-content: center;
}

.assignment h1 {
    border: 2px solid #14e956;
    background-color: #12141d !important;
    color: #14e956;
    text-align: center;
    padding: 10px;
    width: 250px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 5px 20px rgb(95, 141, 95);
    transition: all 1s;
}

.assignment h1:hover {
    color: #14e956;
    transform: scale(1.2);
    box-shadow: 5px 5px 100px rgb(95, 141, 95);
}


/* Main Start section two*/






/* main section carousel 3 */


#my-carousel-container {
    height: 100vh;
    width: 100%;
}


#my-card {
    margin: auto;
    width:  60%;
    border: 4px solid black;
    border-radius: 10px;
}

#my-small-card {
    margin: auto;
    width:  60%;
    border: 4px solid black;
    border-radius: 10px;
}


/* main section carousel 3 */



/* all assignment details*/

.assignment-details{
    background-color: transparent;
    color: #14e956;
    height: 10vh;
    width: 100%;
    text-align: center;
}

.assignment-details button{
    border: 2px solid #14e956;
    background-color: #12141d !important;
    color: #14e956;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    transition: all 1s;
}

.assignment-details button:hover{
    transform: scale(1.2);
}




/* all assignment details*/







































































/* Section one text & para */
@media only screen and (max-width: 768px) {
    .myrow {
        margin-left: 0;
        margin-top: 100px;
    }

    .mypicture {
        height: 280px;
        margin-left: 0px;
    }

    .secondimage img {
        height: 130px;
    }
}

/* Carousel main sections */

@media screen and (max-width: 750px) {
    .section-above750{
        display: none;
    }
    
    
}
@media screen and (min-width: 750px) {
    .section-after750{
        display: none;
    }
    
}